{% if not id %}
    {% set id="input-" + name %}
{% endif %}

<div id="{{id}}-form" class="form-group{% if error %} form-group-error{% endif %}">
    <label for="{{ id }}">
        <span class="{% if classes.label %}{{ classes.label }}{% else %}form-label-bold{% endif %}">{{ label }}</span>
        {% if hint %}<span class="form-hint">{{hint}}</span>{% endif %}
        {% if error %}<span class="error-message">{{error}}</span> {% endif %}
    </label>
            <input
                class="form-control{% if classes.input %} {{ classes.input }}{% endif %}"
                id="{{ id }}"
                {% if maxlength %} maxlength="{{maxlength}}"{% endif %}
                name="{{name}}"
                type="text"
                value="{{value}}" />
</div>